body, html {	/*the outer layer of the site and global style attributes*/
font-family: 'Raleway', sans-serif;
margin: 20px;
margin-left: 30px;

position: relative;

/*-----BACKGROUND STUFF-----*/

background: #B7CEBD;
}

a {
	text-decoration: none;
	color: #FFF4DD;
}

.whole-page {
/*	border: solid;
	border-color: red;*/

	/*display: grid;*/
	grid-template-rows: 20% 80%;
}

.content {
	width: 500px;
}

.bottom {
	padding: 20px;
	padding-left: 30px;
}


.intro {
/*	border: solid;
	border-color: blue;*/

	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 10px;
	color: #FFF4DD;

	margin-bottom: 30px;
	
}


.bio-box {
	display: grid;
	grid-template-rows: 20% 80%;
}

.bio {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 3px;
	color: #FFF4DD;
	margin-bottom: 10px;
	margin-left: -15px;
}

.description1 {
/*	border: solid;
	border-color: red;*/
	font-size: 14px;
	color: black;
	text-indent: 0;
}

.description2 {
	font-size: 14px;
	color: black;
	text-indent: 0;
	margin-top: 15px;
}

.description3 {
	font-size: 14px;
	color: black;
	text-indent: 0;
	margin-top: 10px;
}

.description-box {
	height: 200px;
	display: grid;
	grid-template-rows: 25% 45% 30%;	
	text-indent: 0;
	width: 600px;
	margin-left: -5%;
}


#me {
	position: relative;
	height: 275px;
	width: 500px;

}



#me img {
	width: 470px;
	height: 270px;
	margin-bottom: 30px;
	transition: 0.4s;
}

#me-new  {
	border-radius: 100%;
/*	width: 400px;
	height: 400px;*/
}


/*#me-icon img {	
	width: 250px;
	height: 275px;
	margin-top: 20px;
	margin-bottom: 30px;
	display: flex;
	align-items: left;
}*/


#navbar {
	margin-bottom: 30px;
	color: #FFF4DD;
	letter-spacing: 3px;
	word-spacing: 30px;
	font-size: 15px;
}

.home:hover {
	cursor: pointer;
	color: #F2844D;
	opacity:.75;
	transition: 0.4s;
}

.about:hover {
	cursor: pointer;
	color: #F2844D;
	opacity:.75;
	transition: 0.4s;
}

.adventures:hover {
	cursor: pointer;
	color: #F2844D;
	opacity:.75;
	transition: 0.4s;

}
.contact:hover {
	cursor: pointer;
	color: #F2844D;
	opacity:.75;
	transition: 0.4s;

}