body, html {	/*the outer layer of the site and global style attributes*/
font-family: 'Raleway', sans-serif;
margin: 20px;
margin-left: 30px;
/*max-width: 900px;*/
position: absolute;

/*position: relative;*/

/*-----BACKGROUND STUFF-----*/

background: #B7CEBD;

}

.left {
margin: 0px;
}

.whole-page {
	margin: 12px;
/*	border: solid;
	border-color: red;*/
	width: 1100px;
	position: relative;
	display: grid;
	grid-template-rows: 70% 30%;
}

.content {
/*	border: solid;
	border-color: white;*/
	display: grid;
	grid-template-columns: 40% 55%;
}

.intro {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 10px;
	color: #FFF4DD;

	margin: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 0px;
	display: grid;
	grid-template-rows: 30% 70%;
}


#title {
	margin-bottom: -10px;
}

.title {
	font-size: 38px;
}


.right {
	padding: 15px;
/*	border: solid;
	border-color: blue;*/
	display: grid;
	grid-template-rows: 8% 20% 75%;
}

.bio {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 3px;
	color: #FFF4DD;
	margin-left: 0px;
}
.bio-box {
	color: black;
}


.description {
	font-size: 18px;
	color: black;
}


.logos {
/*	border: solid;
	border-color: black;*/
	display: grid;
	grid-template-columns: 33% 33% 33%;
	width: 250px;

}

#facebook img {
	margin-left: -6px;
	width: 60px;
	height: 60px;
	margin-top: -6px;
}

#instagram img {
	width: 50px;
	height: 50px;
}

#spotify img {
	width: 50px;
	height: 50px;
}


#me img {	
	width: 400px;
	height: 520px;
	margin-top: 20px;
	margin-bottom: 30px;
	display: flex;
	align-items: left;
}


a {
	text-decoration: none;
	color: #FFF4DD;	
}

#navbar {
/*	border:solid;
	border-color: orange;*/
	margin-top: 0px;
	/*margin-left: 20px;*/
	color: #FFF4DD;
	letter-spacing: 3px;
	word-spacing: 33px;
	font-size: 20px;
}


.home:hover {
	cursor: pointer;
	color: #F2844D;
	opacity:.75;
	transition: 0.4s;
}


.about:hover {
	cursor: pointer;
	color: #F2844D;
	opacity:.75;
	transition: 0.4s;
}



.adventures:hover {
	cursor: pointer;
	color: #F2844D;
	opacity:.75;
	transition: 0.4s;

}
.contact:hover {
	cursor: pointer;
	color: #F2844D;
	opacity:.75;
	transition: 0.4s;

}